

.navbar2{
    display: flex;
    align-items: center;
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.drop-menu {
    margin-left: 250px;
}

.btn-secondary {
    

    margin-left: 250px;
    --bs-btn-color: #fff;
    --bs-btn-bg: #6c757d;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}



.drop-menu #button2 {
    font-size: 15px;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    border-color: #fff;
    background-color: #fff;
}

.links {
    margin-left: 50px;
}

.links ul {
    display: flex;
    list-style: none;
}

.links a{
    font-size: 15px;
    margin-right: 40px;
    text-decoration: none;
    color: #131a32;
}



